{% if entry is defined and entry.getAncestors() | length %}
  <ul class="breadcrumb">
    {% for a in entry.getAncestors() if titleBarEntry.id != a.id %}
    <li><a href="{{ a.url }}">{{ a.title }}</a></li>
    {% endfor %}
    <li>{{ entry.title }}</li>
  </ul>
{% elseif breadcrumb is defined and breadcrumb | length %}
  <ul class="breadcrumb">
    {% for b in breadcrumb %}
    <li><a href="{{ b.url }}">{{ b.title }}</a></li>
    {% endfor %}
  </ul>
{% endif %}
