{#
 # Heading block type
 #}
<header class="article__header  grid__item  {{ block.width }}  palm-one-whole  text--{{ block.align }}  text--{{ block.colour }}">

  {% switch block.size %}

    {% case 'mega' %}
      <h1 class="mega  text-weight--{{ block.bold }}">{{ block.text }}</h1>

    {% case 'large' %}
      <h1 class="text-weight--{{ block.bold }}">{{ block.text }}</h1>

    {% case 'small' %}
      <h3 class="text-weight--{{ block.bold }}">{{ block.text }}</h3>

    {% default %}
      <h2 class="text-weight--{{ block.bold }}">{{ block.text }}</h2>

  {% endswitch %}

</header>
